*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
  line-height: 1.15; /* 1 */
}

body {
  margin: 0;
  background-color: #eeebebd2;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  border-top-width: 1px;
  box-sizing: content-box; /* 1 */
  clear: both;
  color: inherit;
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 1 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

img {
  max-width: 100%;
}


/* ================================================
header
================================================= */
.header{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header-nav{
  display: flex;
}
.nav-title{
  padding: 16px;
  cursor: pointer;
}
.nav-list{
  display: none;
}


/*==================================================
main
==================================================== */
.container{
  margin-top: 64px;
}
.top-content{
  display: flex;
  position: relative;
}

.main{
  width: 100%;
  margin: 42px;
}

/* routine */
.routine{
  width: calc(40% - 18px);
  margin: 36px;
  padding: 8px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 5px 5px 2px rgba(217, 219, 224, 0.712);
}
.task{
  width: calc(60% - 36px);
  padding: 35px
}
.routine-title{
  margin-top: 80px;
  font-size: 1.5rem;
  width: 30%;
  font-weight: bold;
  background-color: #fff;
  /* background: linear-gradient(to bottom right, rgb(82, 168, 238) ,#fff); */
  box-shadow: 2px 2px 2px #c4c2c2;
  border-radius: 32px;
  padding: 16px;
  align-items: center;
  text-align: center;
  margin-left: 36px;
}
.action-title{
  margin: 48px 12px 0 18px;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 2px;
  background-color: rgb(170, 207, 240);
  border-radius: 8px;
  padding: 4px;
}
.timer-contents{
  background-color: #f3efef;
  box-shadow: 2px 2px 2px #c4c2c2;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  position: absolute;
  top: 5%;
  right: 10%;
}
.timer-contents > h4{
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 5px;
}
.time{
  margin: 8px 0;
  font-weight: bold;
  letter-spacing: 5px;
}
.timer-button > input[type="button"]{
  padding: 4px;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  -webkit-text-stroke: 1px rgb(180, 179, 179);
}
.timer-button > input[type="button"]:nth-child(1){
  background-color: rgba(15, 56, 238, 0.7);
}
.timer-button > input[type="button"]:nth-child(2){
  background-color: rgb(9, 180, 247);
}
.timer-button > input[type="button"]:nth-child(3){
  background-color: rgb(13, 245, 226);
}
.timer-button > input[type="button"]:nth-child(4){
  background-color: rgb(7, 241, 144);
}
.routine-list{
  margin-top: 64px;
  margin-left: 12px;
  width: 100%;
}
.routine-items{
  margin-top: 16px;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  gap: 35px;
  display: flex;
  transition: color .3s ease-in-out; 
}

/* toggleボタン */
.toggle-switch {
  margin-bottom: 5px;
}

.border {
  position: relative;
  background: #2B2D42;
  width: 80px;
  height: 40px;
  display: block;
  border-radius: 20px;
  cursor: pointer;
  text-indent: -9999px;
}

.border::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: #fff;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.button:checked + .border {
  background: #2c9de9;
}

.button:checked + .border::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.button {
  display: none;
}

.border:active::after {
  width: 60%;
}

/* timer　input */
.form-control{
  border-radius: 18px;
  height: 36px;
  width: 70px;
  padding: 12px;
  background-color: rgba(139, 138, 139, 0.678);
  margin: 0 0 0 auto;
  text-align: center;
  transform: translateX(-50%);
}
.form-control::after{
  content: "分";
}

/* ===================================================
footer
===================================================== */